<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../css/tem1.css"/>
	<title>数据可视化</title>
</head>
<body>
  <header>
  	<h1 class="title">数据可视化-echart</h1>
	<div class="showTime">23232</div>
  </header>
  
</body>
<script type="text/javascript" src="../js/flexible.js"></script>
<script type="text/javascript" src="../js/tem1.js"></script>
</html>